#fontLoader__pageContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

#fontLoader__pageContainer h1 {
	margin: 0;
}

#loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--gray-l55);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.fontVersion__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fontVersion__container textarea {
    width: 100%;
    min-height: 100px;
    max-width: 100%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}